<div class="widgets" *ngIf='fitnessProgram!=null'>


    <div class="row">


        <div class="col-lg-12 col-sm-12 col-xs-12">


            <ba-card baCardClass="banner-column-panel">
                <div class="banner">
                    <div class="large-banner-wrapper">
                        <img src="{{fitnessProgram.PhotoUrl}}" alt="" />
                    </div>
                    <div class="banner-text-wrapper">
                        <div class="banner-text">
                            <h1>{{fitnessProgram.Name}}</h1>

                            <p>Consists of: {{fitnessProgram.OverallTrainingCount}} trainings </p>

                            <p>Created by: {{fitnessProgram.AuthorName}}</p>

                            <input *ngIf="!isEnrolled && isUserLoggedIn" type="button" class="btn btn-default" value="enroll" (click)="addProgramInstance()">
                        </div>
                    </div>
                </div>

                <div class="widgets">

                    <div class="typography-document-samples row">
                        <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget" *ngFor='let training of fitnessProgram.Trainings'>

                            <ba-card title="Training number : {{training.Number}}" baCardClass="with-scroll heading-widget">

                                <div class="section-block">
                                    <h1>Training number : {{training.Number}}</h1>

                                    <p>Expected duration : {{training.Duration}}</p>
                                </div>

                                <h5 *ngIf="training.Exercises.length>0" class="list-header">Exercises List:</h5>
                                <ol class="blur">



                                    <li *ngFor='let ex of training.Exercises'><b>{{ex.Name}}</b>
                                        <div class="accent">
                                            <i>{{ex.Description}}</i>
                                        </div>
                                    </li>


                                </ol>
                            </ba-card>


                        </div>

                    </div>



                </div>
            </ba-card>
        </div>

        <div class="col-xlg-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngIf="fitnessProgram.Comments.length>0">
            <ba-card title="Comments" baCardClass="large-card with-scroll feed-panel">
                <feed [inputFeed]=fitnessProgram.commentsViewModel></feed>
            </ba-card>

           

            <div *ngIf="isUserLoggedIn">
                <div class="form-group">
                    <label for="new-comment">Add comment</label>
                    <textarea placeholder="Comment.." class="form-control" id="new-comment" [(ngModel)]="newCommentValue"></textarea>
                </div>

                <div class="offset-md-11">
                     <input type="button" class="btn btn-default" value="Add" (click)='addNewComment()'/>
                </div>

            </div>
        </div>
    </div>
</div>