<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">

  <a routerLink="/home" class="al-logo clearfix"><span>live-</span>to-<span>fit</span></a>

     <a *ngIf='isLoggedIn' href (click)="toggleMenu()" class="collapse-menu-link ion-navicon">
    <i ng-reflect-class-name="fa fa fa-bars" class="fa fa fa-bars"></i>
  </a>

  <div class="search" *ngIf='isLoggedIn'>
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>

  <div class="user-profile clearfix" *ngIf='isLoggedIn'>
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{userProfileInfo.photoUrl}}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li class="dropdown-item"><a href><i class="fa fa-user"></i>Profile</a></li>
        <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Settings</a></li>
        <li class="dropdown-item"><a href class="signout" (click)='logout()'><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <ba-msg-center ></ba-msg-center>
  </div>

  <div class="user-profile clearfix" *ngIf='!isLoggedIn'>
     <a routerLink="/login" class="al-logo"><span>login </span>| </a> 
      <a routerLink="/register" class="al-logo" ><span> register</span></a>
  </div>
</div>
